Backup1/Resources/DatabaseConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="databaseConfig">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="config">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="script" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="provider" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Standard" />
                            <xs:enumeration value="Oracle" />
                            <xs:enumeration value="SQL Server" />
                            <xs:enumeration value="MySql" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="BOTH" />
                  <xs:enumeration value="FRESH" />
                  <xs:enumeration value="UPGRADE" />
                  <xs:enumeration value="ALWAYS" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="version" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1.0.0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sequence" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:long">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional" />
            <xs:attribute name="runat" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="BOTH" />
                  <xs:enumeration value="CLIENT" />
                  <xs:enumeration value="SERVER" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="location" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INSTALLER" />
            <xs:enumeration value="PATCH" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="installationSequence" type="xs:int" use="optional"/>
      <xs:attribute name="databaseConfigurationSequence" type="xs:int" use="optional"/>
    </xs:complexType>
    <xs:key name="databaseConfigKey1">
      <xs:selector xpath=".//config" />
      <xs:field xpath="@sequence" />
    </xs:key>
  </xs:element>
</xs:schema>